Temp/
Library/
obj/
*.svd
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources
 
 
 
Bike/Project.userprefs
Bike/Assembly-CSharp.csproj
Bike/Assembly-CSharp.pidb
Bike/Assembly-CSharp-Editor.csproj
Bike/Assembly-CSharp-Editor.pidb
Bike/Assembly-CSharp-Editor-vs.csproj
Bike/Assembly-CSharp-firstpass.csproj
Bike/Assembly-CSharp-firstpass.pidb
Bike/Assembly-CSharp-firstpass-vs.csproj
Bike/Assembly-CSharp-vs.csproj
Bike/Assembly-UnityScript-firstpass.pidb
Bike/Assembly-UnityScript-firstpass.unityproj
Bike/Assembly-UnityScript-firstpass-vs.unityproj
Bike/Bike.suo